.slider_container {
  overflow: hidden;
}

.head {
  font-size: 0;
  margin: 20px 0;
}
.head div {
  display: inline-block;
  width: 70%;
  font-size: 16px;
}
.head div * {
  vertical-align: middle;
}
.head div:nth-child(2) {
  text-align: right;
  width: 30%;
}
.head h2 {
  display: inline-block;
  font-size: 36px;
}

#main {
  width: 100%;
  height: 100vh;
  color: white;
  background-image: url("/image/preview.jpg");
  background-size: cover;
  background-position: right;
  position: relative;
}
#main:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
#main .container {
  position: relative;
  display: inline-block;
  width: 90%;
  height: 90vh;
  margin: 5vh 5%;
  z-index: 1;
}
#main h1 {
  margin-top: 25vh;
  font-size: 50px;
  width: 50%;
  text-shadow: 0 0 25px black;
  z-index: 1;
}
#main .subStartDate {
  display: inline-block;
  margin-top: 20px;
  font-size: 25px;
  display: none;
}

@media (max-width: 920px) {
  #main .subStartDate {
    display: inline-block;
  }
}
@media all and (max-width: 600px) {
  #main h1 {
    transform: none;
    width: 100%;
    top: 15%;
    font-size: 10vw;
    text-align: center;
  }

  #main .subStartDate {
    display: block;
    text-align: center;
  }
}
@font-face {
  font-family: Fontfabric_Muller;
  src: url("/fonts/Fontfabric_MullerRegular.otf") format("opentype");
}
@font-face {
  font-family: Fontfabric_Muller;
  font-weight: bold;
  src: url("/fonts/Fontfabric_MullerBold.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Fontfabric_Muller;
}

.submit {
  text-align: center;
  border: none;
  padding: 20px 40px;
  background-color: #f39c12;
  color: white;
  transition: all 0.5s ease;
  cursor: pointer;
  font-weight: 900;
}
.submit a {
  color: white;
}
.submit:hover {
  background-color: white;
  color: #f39c12;
}
.submit:hover a {
  color: #f39c12;
}
.submit:disabled {
  background-color: #c5ab82;
}

.full_inform {
  outline: 2px solid #f39c12;
  display: inline-block;
  padding: 2%;
  color: black;
  font-weight: 900;
  cursor: pointer;
}

#inform {
  width: 92%;
  position: fixed;
  bottom: 0;
  padding: 20px 4%;
  color: white;
  transition: all 0.5s ease;
  z-index: 400;
}
#inform * {
  display: inline-block;
}
#inform ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}
#inform li span {
  display: block;
}
#inform .submit {
  padding: 0;
}
#inform .submit a {
  padding: 20px 150px;
}

#inform.down {
  background-color: white;
  color: black;
}
#inform.down #counter p {
  opacity: 0;
}

@media all and (max-width: 680px) {
  #inform ul {
    display: block;
    text-align: center;
  }

  #inform ul li {
    width: 100%;
  }

  #inform .submit a {
    padding: 20px 0;
  }
}
@media all and (max-width: 920px) {
  #inform ul li:not(.timer):not(.submit) {
    display: none;
  }
}
#counter h2 {
  display: inline-block;
}
#counter .container {
  display: flex;
  justify-content: space-between;
}
#counter .time_counter {
  text-align: center;
  display: inline-block;
  margin-right: 30px;
}
#counter .time_counter > div {
  font-size: 30px;
  font-weight: bold;
}
#counter .time_counter span {
  font-size: 15px;
}
#counter .time_counter > * {
  display: block;
}

#slider_lectors {
  padding: 50px 5%;
}
#slider_lectors .slider_container {
  position: relative;
  height: 400px;
}
#slider_lectors .slider_container ul {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
}
#slider_lectors .slider_container .content {
  width: 250px;
  flex-direction: row;
  display: inline-block;
  padding: 0 1vw;
}
#slider_lectors .slider_container .lector_img {
  position: relative;
  display: inline-block;
  width: 100%;
}
#slider_lectors .slider_container .lector_img img {
  width: 100%;
}
#slider_lectors .slider_container .name {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
  display: inline-block;
}
#slider_lectors .slider_container .name span {
  display: block;
}
#slider_lectors .slider_container .name .name_ {
  font-size: 20px;
  font-weight: 900;
  padding: 10px;
  display: inline-block;
  background-color: white;
}
#slider_lectors .slider_container .descr, #slider_lectors .slider_container .title {
  display: inline-block;
  margin: 10px;
}
#slider_lectors .slider_container .descr {
  font-weight: 600;
}
#slider_lectors .slider_container .title {
  color: gray;
}

#slider_recall {
  padding: 50px 5vw;
  position: relative;
  background-color: #f9f7fc;
}
#slider_recall .slider_container {
  position: relative;
  height: 300px;
  width: 60vw;
  margin: 0 auto;
  margin-top: 130px;
}
#slider_recall .slider_container ul {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  transition: all 0.5s ease;
}
#slider_recall .slider_container .content {
  width: 50vw;
  flex-direction: row;
  display: inline-block;
  text-align: center;
  padding: 0 5vw;
}
#slider_recall .slider_container .content > * {
  vertical-align: top;
}
#slider_recall .slider_container .content img {
  margin: 0 3vw;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  display: inline-block;
}
#slider_recall .slider_container .content .text {
  display: inline-block;
  width: 30vw;
}
#slider_recall .slider_container .content .text > * {
  display: block;
  text-align: left;
}
#slider_recall .slider_container .content .name {
  font-size: 30px;
  font-weight: 900;
}
#slider_recall .slider_container .content .party_year {
  margin: 10px 0;
  color: gray;
}
#slider_recall .controller {
  font-size: 0;
}
#slider_recall .controller div {
  position: absolute;
  display: inline-block;
  padding: 10px 18px;
  font-size: 30px;
  outline: 2px solid #f39c12;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}
#slider_recall .controller div:nth-child(1) {
  left: 10vw;
}
#slider_recall .controller div:nth-child(2) {
  right: 10vw;
}

@media all and (max-width: 600px) {
  #slider_recall .controller {
    text-align: center;
  }
  #slider_recall .controller div {
    position: static;
    transform: none;
    width: 50%;
    padding: 20px 0;
  }
  #slider_recall .slider_container {
    width: 100%;
  }
  #slider_recall .slider_container .content {
    width: 80vw;
    text-align: left;
  }
  #slider_recall .slider_container .content .text {
    width: 100%;
  }
}
#partners {
  padding: 50px 5%;
}
#partners .slider_container {
  position: relative;
  height: 250px;
}
#partners .slider_container ul {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
}
#partners .slider_container li {
  flex-direction: row;
  display: inline-block;
  padding: 0 25px;
}
#partners .slider_container img {
  width: 250px;
}

#map_container {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
}
#map_container .close {
  color: black;
  position: absolute;
  display: inline-block;
  font-size: 18px;
  padding: 10px 14px;
  background-color: white;
  right: 60px;
  top: 10px;
  z-index: 101;
  cursor: pointer;
  font-weight: 900;
}

#map {
  width: 100%;
  height: 100%;
  z-index: 100;
}

#position {
  position: relative;
  color: white;
  padding: 5vw 5%;
  background-image: url("../image/mapBG.png");
  background-size: cover;
  height: 500px;
}
#position h2 {
  font-size: 30px;
}
#position span {
  display: block;
}
#position .transfer {
  width: 50%;
}
#position .transfer p {
  margin: 5px 0;
  display: inline-block;
  font-size: 18px;
}
#position .inform_block {
  width: 300px;
  height: 700px;
  padding: 0 2.5vw;
  position: absolute;
  bottom: 5vw;
  right: 5vw;
  background-color: #2F2E43;
}
#position .inform_block h2 {
  margin: 100px 0;
}
#position .inform_block p {
  margin: 20px 0;
  font-size: 22px;
}
#position .inform_block .descr {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#position .inform_block .submit {
  text-align: center;
}
#position .phone {
  text-shadow: 0px 0px 1px white;
}
#position .social {
  margin-top: 10px;
}
#position .social a {
  display: inline-block;
  width: 45px;
  height: 45px;
  transition: all 0.5s ease;
}
#position .social a img {
  display: inline-block;
  width: 45px;
  height: 45px;
}
#position .social a:hover {
  box-shadow: 0 0 1px 4px white;
}

@media all and (max-width: 768px) {
  #position {
    height: auto;
  }
  #position .inform_block {
    display: inline-block;
    width: 100%;
    padding: 0;
    height: auto;
    position: static;
    background: none;
  }
  #position .transfer {
    width: 100%;
  }
}
@media all and (max-width: 680px) {
  .head div:nth-child(n) {
    width: 100%;
    text-align: left;
    margin-top: 10px;
  }
}

/*# sourceMappingURL=home.css.map */
