@media(max-width: 1300px) {
    .container{
        .header{
            .header__yellow{
                .header__inside__block{
                    padding: 0 10px 0 10px;
                    .header__contacts, .header__feedback{
                        .header__city{
                            display: flex;
                        }
                        .header__social{
                            a{
                                margin-left: 19px;
                                font-size: 13px;
                                &:first-child{
                                    margin-left: 0;
                                }
                            }
    
                        }
                    }
                }
            }
            .header__middle{
                .header__inside__block{
                    padding-left: 10px;
                    padding-right: 10px;
                    .header__middle-introduction{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        .logo{
                            display: flex;
                            margin-top: 16px;
                            .img{
                                width: 64px;
                                height: 73px;
                                margin-top: 5px;
                            }
                            .header__expert{
                                margin-left: 16px;
                                margin-top: 25px;
                                width: 133px;
                                font-size: 13px;
                            }
                        }
                        .header__rating{
                            padding: 5px 12px 5px 12px;
                            margin-top: 22px;
                        }
                        .header__search{
                            width: 388px;
                        }
                        .header__login{
                            display: flex;
                            align-items: center;
                            margin-top: 30px;
                            .header__login-text{
                                font-size: 13px;
                            }
                        }
                        .header__cart{
                            
                            .cart__status{
                                font-size: 13px;
                            }
                        }
                    }
                    .header__middle-menu{
                        .header__middle-menu-item{
                            font-size: 13px;
                            
                        }
                    }
                }
            }
            .header__down{
                .header__inside__block{
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
        .main__block{
            .main__block-description{
                .description__left{
                    .description__title{
                        font-size: 18px;
                    }
                }
                .description__right{
                    font-size: 12px;
                }
            }
            .main__block-presentation{
                .presentation__up{
                    .presentation-title{
                        font-size: 24px;
                    }
                    .presentation__line{
                        display: none;
                    }
                }
                .presentation__links{
                    .presentation__links-item{
                        font-size: 12px;
                    }
                }
            }
            .main__block-img{
                img{
                    width: 97%;
                }
            }
        }
        .slider{
            padding-left: 137px;
            padding-right: 137px;
            padding-bottom: 63px;
            padding-top: 70px;
            margin-bottom: 105px;
            .title__and__nav{
                .slider__title{
                    font-size: 36px;
                }
                .nav-arrow{
                    display: flex;
                    .arrow__container{
                        padding: 11px 15px 11px 16px;
                        cursor: pointer;
                    }
                }
            }
            .slider__content{
                margin-top: 54px;
                .slider__item{
                    &:first-child{
                        margin-left: 0;
                    }
                }
            }
        }
    }
    
}

@media(max-width: 1024px) {
    .container{
        .header{
            .header__yellow{
                .header__inside__block{
                    padding: 0 10px 0 10px;
                    .header__contacts, .header__feedback{
                        .header__city{
                            display: flex;
                        }
                        .contacts__item{
                            font-size: 9px;
                        }
                        .feedback__item{
                            font-size: 10px;
                        }
                        .header__social{
                            a{
                                margin-left: 12px;
                                font-size: 13px;
                                &:first-child{
                                    margin-left: 0;
                                }
                            }
    
                        }
                    }
                }
            }
            .header__middle{
                .header__inside__block{
                    padding-left: 10px;
                    padding-right: 10px;
                    .header__middle-introduction{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        .logo{
                            img{
                                width: 30px;
                                height: 40px;
                                margin-top: 22px;
                            }
                            .header__expert{
                                margin-top: 25px;
                                font-size: 11px;
                                width: 100px;
                            }
                        }
                        .header__rating{
                            width: 55px;
                            height: 41px;
                            margin-top: 43px;
                            img{
                                width: 40px;
                                height: 25px;
                            }
                        }
                        .header__search{
                            width: 270px;
                        }
                        .header__login{
                            margin-top: 26px;
                            .header__login-text{
                                font-size: 11px;
                            }
                        }
                        .header__cart{
                            
                            .cart__status{
                                font-size: 11px;
                                margin-top: 43px;
                            }
                        }
                    }
                    .header__middle-menu{
                        .header__middle-menu-item{
                            font-size: 11px;
                            
                        }
                    }
                }
            }
            .header__down{
                .header__inside__block{
                    padding-left: 10px;
                    padding-right: 10px;
                    .header__inside__block-item{
                        font-size: 9px;
                    }
                }
            }
        }
        .main__block{
            margin-top: 35px;
            margin-left: 50px;
            margin-right: 40px;
            .main__block-description{
                .description__left{
                    .description__title{
                        font-size: 12px;
                    }
                }
                .description__right{
                    font-size: 10px;
                }
            }
            .main__block-presentation{
                .presentation-title{
                    font-size: 19px;
                }
                .presentation__line{
                    display: none;
                }
                .presentation__links{
                    .presentation__links-item{
                        font-size: 9px;
                    }
                }
            }
            .main__block-img{
                img{
                    width: 97%;
                }
            }
        }
        .slider{
            padding-left: 140px;
            padding-right: 140px;
            padding-bottom: 20px;
            padding-top: 36px;
            .title__and__nav{
                .slider__title{
                    font-size: 30px;
                }
                .nav-arrow{
                    display: flex;
                    .arrow__container{
                        padding: 11px 15px 11px 16px;
                        cursor: pointer;
                    }
                }
            }
            .slider__content{
                margin-top: 54px;
                flex-direction: column;
                .slider__item{
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
    
}

@media(max-width: 767px) {
    .container{
        .header{
            .header__yellow{
                .header__inside__block{
                    flex-wrap: wrap;
                    justify-content: center;
                    .header__contacts, .header__feedback{
                        .header__city{
                            display: flex;
                        }
                        .contacts__item{
                            font-size: 9px;
                        }
                        .feedback__item{
                            font-size: 10px;
                        }
                        .header__social{
                            a{
                                margin-left: 12px;
                                font-size: 13px;
                                &:first-child{
                                    margin-left: 0;
                                }
                            }
    
                        }
                    }
                }
            }
            .header__middle{
                .header__inside__block{
                    padding-left: 10px;
                    padding-right: 10px;
                    .header__middle-introduction{
                        flex-wrap: wrap;
                        .logo{
                            margin-top: 0;
                            img{
                                width: 30px;
                                height: 40px;
                                margin-top: 22px;
                            }
                            .header__expert{
                                margin-top: 25px;
                                font-size: 11px;
                                width: 100px;
                            }
                        }
                        .header__rating{
                            margin-top: 20px;
                        }
                        .header__search{
                            width: 100%
                        }
                        .header__login{
                            margin-top: 0;
                            .header__login-text{
                                font-size: 11px;
                            }
                        }
                        .header__cart{
                            .cart__status{
                                font-size: 11px;
                                margin-top: 12px;
                            }
                        }
                    }
                    .header__middle-menu{
                        justify-content: center;
                        .drop-downone{
                            display: block;
                            list-style: none; 
                            overflow: hidden;
                            height: 390px;
                            background-color: $red;
                            font-family: Arial;
                            width: 200px;
                            margin: 0 auto;
                            border-radius: 4px;
                            padding: 0;
                            text-align: center;
                            -webkit-transition: height 0.3s ease;
                                    transition: height 0.3s ease;
                                li{
                                    border-bottom: 1px solid #2c3e50;
                                    a{
                                        display: block;
                                        color: #ecf0f1;
                                        text-decoration: none;
                                        padding: 10px;
                                    }
                                    &:first-child a::after{
                                        content: url(../img/black-arrow.png);
                                        float: right;
                                        margin-left: -30px;
                                        margin-right: 5px;
                                    }
                                }
                        }
                        .closed{
                            height: 38px;
                        }
                        .header__middle-menu-item{
                            font-size: 11px;
                            display: none;
                            
                        }
                    }
                }
            }
            .header__down{
                .header__inside__block{
                    justify-content: center;
                    padding-left: 10px;
                    padding-right: 10px;
                    .drop-downone{
                        display: block;
                        list-style: none; 
                        overflow: hidden;
                        height: 390px;
                        background-color: $red;
                        font-family: Arial;
                        width: 200px;
                        margin: 0 auto;
                        border-radius: 4px;
                        padding: 0;
                        text-align: center;
                        -webkit-transition: height 0.3s ease;
                                transition: height 0.3s ease;
                            li{
                                border-bottom: 1px solid #2c3e50;
                                a{
                                    display: block;
                                    color: #ecf0f1;
                                    text-decoration: none;
                                    padding: 10px;
                                }
                                &:first-child a::after{
                                    content: url(../img/black-arrow.png);
                                    float: right;
                                    margin-left: -30px;
                                    margin-right: 5px;
                                }
                            }
                    }
                    .closed{
                        height: 38px;
                    }
                    .header__inside__block-item{
                        font-size: 9px;
                        display: none;
                    }
                }
            }
        }
        .main__block{
            margin-top: 35px;
            margin-left: 50px;
            margin-right: 40px;
            .main__block-description{
                flex-direction: column;
                .description__left{
                    width: 100%;
                    .description__title{
                        font-size: 21px;
                    }
                }
                .description__right{
                    font-size: 15px;
                    width: 100%;
                }
            }
            .main__block-presentation{
                margin-top: 35px;
                .presentation-title{
                    font-size: 19px;
                }
                .presentation__line{
                    display: none;
                }
                .presentation__links{
                    .presentation__links-item{
                        font-size: 9px;
                    }
                }
            }
            .main__block-img{
                img{
                    width: 97%;
                }
            }
        }
        .slider{
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 20px;
            padding-top: 36px;
            margin-bottom: 30px;
            .title__and__nav{
                .slider__title{
                    font-size: 30px;
                }
                .nav-arrow{
                    display: flex;
                    .arrow__container{
                        padding: 11px 15px 11px 16px;
                        cursor: pointer;
                    }
                }
            }
            .slider__content{
                margin-top: 54px;
                flex-direction: column;
                .slider__item{
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
    
}

@media(max-width: 320px) {
    .container{
        .header{
            .header__yellow{
                .header__inside__block{
                    .header__feedback{
                        .feedback__item{
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}
