<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../css/childrens_program.css">
	<title>Document</title>
</head>
<body>
<section id="childrens_program">
	<h1>
		Детская программа – «В поисках сокровищ индейцев Майя»
	</h1>
	<img src="../image/childrens_program.jpg" alt="">


	<div class="descr">
		Ведет программу Елена Юдина
		закончила Московский государственный университет культуры.
		Елена работает главным библиотекарем в Центральной детской библиотеке №104. Очень любит книги и детей, руководит клубом «Живая книга». Читают с детьми стихи и сказки про кукол и делают своими руками тряпичные народные куклы. 

	<ul>
		<li>9.45 – Сбор ребятишек.</li>
		<li>10.00 – «Выходим на тропу мира» - подготовка к поискам сокровищ. Узнаем чуть-чуть об индейцах. Становимся сами немного индейцами. Делаем повязки-перья, как у индейцев, и раскрашиваем лица в боевой индейский раскрас.</li>
		<li>11.00 – Изучаем древний алфавит индейцев Майя. Пишем письмо-лепешку на языке древних Майя.</li>
		<li>12.00 – Играем в любимые подвижные игры индейцев Майя - (игры «Зоркий сокол», «Твердая рука», «Быстроногий олень», «Дискобол»).</li>
		<li>13.00 –14.00 – обед.</li>
		<li>14.00 – Читаем книжки про приключения индейцев.</li>
		<li>14.30 -15.30 – Мастер-класс «Мустанг для настоящего индейца» - делаем лошадь (из лоскутков, пряжи и деревянной палочки).</li>
		<li>15.30 – Рисуем и лепим индейцев.</li>
		<li>16.00 – 17.00 – Делаем индейские талисманы-обереги (кожаный шнурок, бусы и т. д.).</li>
		<li>17.00 –18.00 – Играем в любимые подвижные игры индейцев Майя — (игры «Отгадай и покажи», «Жажда», «Скала большого змея», «Ловкий лис»).</li>
		<li>18.00 – Делаем индейский вигвам, пишем и рисуем на нем свои мечты и пожелания. Находим сокровища индейцев Майя (конфеты).</li>
		<li>19.00 – Родители забирают детей.</li>
		
	</ul>
	</div>
</section>
</body>
</html>