<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="../css/footer.css">
</head>
<body>
	<footer>
		<a href="../page/organizer">Организатор и финансовый партнер по сбору средств</a>		
		<a href="../page/user_agreement">Пользовательское соглашение</a>		
	</footer>	
	<div class="design">
		<p>© Все права защищены. Lsaran 2018</p>
		<p class="label">Дизайн сайта Heads.Design
			<img src="../image/design.png" alt="">
		</p>
	</div>		
</body>
</html>