<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="../css/friends.css">
</head>
<body>
<section>
		
		<h1>Наши друзья</h1>
	
		<div>
	
			<p>
				Наши друзья – это частные лица, фонды и компании, которые помогают команде Лсарана в организации конференции, предоставляют финансовую и информационную поддержку. 
			</p>
	
			<p>
				Благодаря их помощи мы можем арендовать аудитории для проведения конференции; обеспечить техническое оснащение лекций, концертов и мастер – классов, организовать автобусы для проезда участников, субсидировать проживание лекторов и волонтеров и многое другое 
			</p>
	
	
			<p>
				Мы благодарим всех тех, кто уже помог конференции Лсаран 2018:
			</p>
	
	
			
		</div>
		<hr class="brd">
		<h2>Спонсоры:</h2>
		<ul class="sponsors">
	
						<li class="content">
					<span class="name">Анонимный спонсор</span>
					<span class="surname"></span>
				</li>
						<li class="content">
					<span class="name">Армен </span>
					<span class="surname">Гаспарян</span>
				</li>
						<li class="content">
					<span class="name">Армен</span>
					<span class="surname">Гулинян</span>
				</li>
						<li class="content">
					<span class="name">Алексей</span>
					<span class="surname">Корня</span>
				</li>
						<li class="content">
					<span class="name">Григорий</span>
					<span class="surname">Терян</span>
				</li>
						<li class="content">
					<span class="name">Евгения</span>
					<span class="surname">Терян</span>
				</li>
		</ul>
		<h2>Партнеры:</h2>
		<ul class="partners">
															
					<li class="content">
						<div class="img_cont">
							<img src="../image/partners/partner_3.jpg" alt="">
						</div>
						<div class="inform">
							<span class="brand">Апаран </span>
							<span class="descr">АПАРАН - это вода из родника, расположенного в высокогорной области Армении на высоте 2000 метров у подножия горы Арагац, в уникальной по своей экологичности местности, в зоне, свободной от промышленной и сельскохозяйственной деятельности. Вода имеет нежный вкус благодаря минимальному и уравновешенному составу солей и микроэлементов, полному отсутствию микробиологических загрязнений, примесей и других токсичных элементов.</span>
						</div>
					</li>
													
					<li class="content">
						<div class="img_cont">
							<img src="../image/partners/partner_2.jpg" alt="">
						</div>
						<div class="inform">
							<span class="brand">Electric Creative</span>
							<span class="descr">Стратегическое коммуникационное агентство.
	
	Команда Electric разрабатывает креативные решения для создания энергетического поля вокруг продуктов и услуг компаний. 
	
	Предоставляет услуги в брендинге, PR, креативе, фото и видео продакшн, диджитал рекламе и навигации.</span>
						</div>
					</li>
													
					<li class="content">
						<div class="img_cont">
							<img src="../image/partners/Гилель.png" alt="">
						</div>
						<div class="inform">
							<span class="brand">Гилель</span>
							<span class="descr">Гилель -&nbsp; молодежная еврейская организация.&nbsp;Для многих молодых людей Гилель – первая ступень на пути знакомства с еврейским сообществом. Цель организации – вовлечение еврейской молодежи 18-27 лет в жизнь общины, развитие лидерства и волонтерства.&nbsp;</span>
						</div>
					</li>
													
					<li class="content">
						<div class="img_cont">
							<img src="../image/partners/heads.png" alt="">
						</div>
						<div class="inform">
							<span class="brand">Студия дизайна «Heads»
	</span>
							<span class="descr">Команда студии создает сайты, лэндинги и приложения для вашего бизнеса.
	HEADS целая команда опытных и сильных диджитал-специалистов: 3D-визуализаторов, дизайнеров интерфейсов, иллюстраторов, разработчиков, маркетологов и специалистов по продвижению сайтов.</span>
						</div>
					</li>
													
					<li class="content">
						<div class="img_cont">
							<img src="../image/partners/" alt="">
						</div>
						<div class="inform">
							<span class="brand">Koor wines
	</span>
							<span class="descr">Девиз “HIGHLAND CELLARS” - празднование жизни, нашей истории и нашего коллективного будущего.Мы сохранили традиции и сегодня с гордостью предлагаем вам изумительное армянское вино, которое произведено из исторических и автохтонных сортов винограда, выращенного в виноградниках на высоте 1500 метров над уровнем моря и собранного руками местных виноградарей. </span>
						</div>
					</li>
							
		</ul>
	
		<h2>Информационные партнеры:</h2>
		<ul class="partners">
						1						
					<li class="content">
						<div class="img_cont">
							<img src="../image/partners/armfinder_LOGO.png" alt="">
						</div>
						<div class="inform">
							<span class="brand">Armfinder</span>
							<span class="descr">Уникальная база информации об армянах и армянских компаниях, которые предлагают свои услуги или продукцию на территории Москвы</span>
						</div>
					</li>
									0								0								0								0								0								
	
		</ul>
	
		</section>
</body>
</html>