<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="../css/organizer.css">
</head>
<body>
<section>
	<h2>Организатор</h2>
	<ul class="main">
		<li>
			<ul>
				<li class="head">Индивидуальный предприниматель Терян Евгения Саркисовна</li>

				<li class="rec">Реквизиты:</li>
				<li>Счёт №: 40802810601500016355</li>
				<li>ИНН: 503802016580</li>
				<li>Реквизиты банка:</li>
				<li>Название: ТОЧКА ПАО БАНКА "ФК ОТКРЫТИЕ"</li>
				<li>ИНН: 7706092528</li>
				<li>КПП: 770543002</li>
				<li>БИК: 044525999</li>
				<li>Город: Москва</li>
				<li>Корр. счёт: 30101810845250000999</li>
				<li>в ГУ БАНКА РОССИИ ПО ЦФО</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="head">Финансовым партнером по сбору средств по оплате участия в конференции является Общество с ограниченной ответственностью «Эксперт-Сервис»</li>
				<li class="rec">Реквизиты:</li>
				<li>Реквизиты: 141207, Московская область, г. Пушкино,ул. Тургенева, д.5., пом. 26, комната №2а </li>
				<li>ИНН 5038111750 КПП 503801001</li>
				<li>р/с 40702810300000048380 в ПАО ВТБ24, г.Москва</li>
				<li>к/с 30101810100000000716 БИК 044525716</li>
				<li>ОКВЭД 92.72</li>
				<li>Директор: Булатов Сергей Александрович</li>				
			</ul>
		</li>
	</ul>	
</section>
</body>
</html>