<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="../css/princeps.css">
</head>
<body>
	
<section id="princeps">
	<h1>Базовые принципы Лсаран</h1>
		<ul>

							<li class="content">
					<div class="icon">
						<i class="fas fa-bicycle"></i>				
					</div>
					<span class="descr">Конференция Лсаран проводится силами волонтеров</span>
				</li>
							<li class="content">
					<div class="icon">
						<i class="fas fa-clipboard-list"></i>				
					</div>
					<span class="descr">Участники конференции имеют полную свободу выбора и сами формируют свое расписание</span>
				</li>
							<li class="content">
					<div class="icon">
						<i class="fas fa-hands-helping"></i>				
					</div>
					<span class="descr">Волонтерам и лекторам организаторы Конференции могут предоставить частичное или полное субсидирование</span>
				</li>
							<li class="content">
					<div class="icon">
						<i class="fas fa-users"></i>				
					</div>
					<span class="descr">Любой, независимо от возраста, пола, национальности и политических взглядов, может принять участие в конференции</span>
				</li>
							<li class="content">
					<div class="icon">
						<i class="far fa-hand-paper"></i>				
					</div>
					<span class="descr">Каждый участник оплачивает свое участие и проживание самостоятельно</span>
				</li>
					</ul>
	
</section>
<script src="../js/time-counter.js"></script>
</body>
</html>