<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="../css/team_list.css">
</head>
<body>
<section id="team_list">

<div id="scroll_container" style="top: -1454px;">
	<p>Режиссер - постановщик:</p>
	<ul>
						<li class="content">
				Евгения Терян				</li>
				</ul>
	<p>Авторы сценария:</p>
	<ul>
						<li class="content">
				Кати Терян				</li>
						<li class="content">
				Тата Зограбян				</li>
						<li class="content">
				Кристина Багдасарян				</li>
						<li class="content">
				Тимофей Дзядко				</li>
						<li class="content">
				Гагик Аветунци				</li>
						<li class="content">
				Анна Закарян				</li>
						<li class="content">
				Рузанна Аракелян				</li>
						<li class="content">
				Джемма Паноян				</li>
						<li class="content">
				Лиана Саргсян				</li>
				</ul>
	<p>Продюсеры:</p>
	<ul>
						<li class="content">
				Гагик Аветунци				</li>
						<li class="content">
				Джемма Паноян				</li>
						<li class="content">
				Лиана Саргсян				</li>
						<li class="content">
				Анна Багдасарян				</li>
						<li class="content">
				Арина Мнацаканян				</li>
						<li class="content">
				Лусине Адамян				</li>
						<li class="content">
				Эмилия Торосова				</li>
						<li class="content">
				Ольга Терян				</li>
						<li class="content">
				Гаяне Кочарян				</li>
						<li class="content">
				Нелли Ефремян				</li>
						<li class="content">
				Даша Овсянникова				</li>
				</ul>
	<p>Альтернативные сценарии для самых требовательных:  </p>
	<ul>
						<li class="content">
				Елена Юдина				</li>
						<li class="content">
				Джемма Паноян 				</li>
						<li class="content">
				Анна Фролова				</li>
						<li class="content">
				Кати Терян				</li>
						<li class="content">
				Тата Зограбян				</li>
						<li class="content">
				Гаяне Кочарян				</li>
						<li class="content">
				Кристина Багдасарян				</li>
				</ul>
	<p>Кастинг каскадеров :</p>
	<ul>
						<li class="content">
				Алина Амбарцумова				</li>
						<li class="content">
				Лия Аракелян				</li>
						<li class="content">
				Евгения Чибис				</li>
				</ul>
	<p>Композиторы:</p>
	<ul>
						<li class="content">
				Анна Аллавердян				</li>
						<li class="content">
				Кристина Багдасарян				</li>
						<li class="content">
				Наринэ Варданян				</li>
						<li class="content">
				Анна Фролова				</li>
						<li class="content">
				Анна Багдасарян				</li>
				</ul>
	<p>Художники декораций:</p>
	<ul>
						<li class="content">
				Анна Фролова				</li>
						<li class="content">
				Лия Аракелян				</li>
						<li class="content">
				Рузанна Аракелян				</li>
						<li class="content">
				Кристина Багдасарян				</li>
						<li class="content">
				Алина Амбарцумова				</li>
				</ul>
	<p>Площадка для съемок и учет актеров:</p>
	<ul>
						<li class="content">
				Гаяне Кочарян				</li>
						<li class="content">
				Татевик Зограбян				</li>
						<li class="content">
				Аревик Восканян				</li>
						<li class="content">
				Седа Айриян				</li>
				</ul>
	<p>Художник по костюмам:</p>
	<ul>
						<li class="content">
				Лия Аракелян				</li>
				</ul>
	<p>Диспетчеры:</p>
	<ul>
						<li class="content">
				Анна Фролова				</li>
						<li class="content">
				Иван Бойко				</li>
				</ul>
	<p>Монтаж:</p>
	<ul>
						<li class="content">
				Гайк Инанц				</li>
						<li class="content">
				Лия Аракелян				</li>
						<li class="content">
				Гагик Аветунци				</li>
				</ul>
	<p>Редакторы:</p>
	<ul>
						<li class="content">
				Тата Зограбян				</li>
						<li class="content">
				Иван Бойко				</li>
						<li class="content">
				Кристина Багдасарян				</li>
						<li class="content">
				Джемма Паноян				</li>
						<li class="content">
				Анна Эльчян				</li>
						<li class="content">
				Армен Азизян				</li>
				</ul>
	<p>Поддержка с воздуха:</p>
	<ul>
						<li class="content">
				Лиана Саргсян 				</li>
						<li class="content">
				Джемма Паноян				</li>
				</ul>
	<p>Поддержка с земли:</p>
	<ul>
						<li class="content">
				Тимофей Дзядко				</li>
						<li class="content">
				Анна Эльчян				</li>
				</ul>
	<p>Романсы и финансы:</p>
	<ul>
						<li class="content">
				Рузанна Аракелян				</li>
				</ul>
	<p>Волонтеры - каскадеры:</p>
	<ul>
						<li class="content">
				Айказ Аветунци 				</li>
						<li class="content">
				Саркис Аветисян				</li>
						<li class="content">
				Татул Вагаршакян				</li>
						<li class="content">
				Артур Закарян				</li>
						<li class="content">
				Анастасия Антонян				</li>
						<li class="content">
				Георгий Антонян				</li>
						<li class="content">
				Мария Аракелян 				</li>
						<li class="content">
				 Люси Ароян				</li>
						<li class="content">
				Дмитрий Веселкин 				</li>
						<li class="content">
				Маргарита Давидян 				</li>
						<li class="content">
				Екатерина Дударева  				</li>
						<li class="content">
				Мария Ковель				</li>
						<li class="content">
				Оксана Ковтун				</li>
						<li class="content">
				Каринэ Манукова				</li>
						<li class="content">
				Сатеник Минасян				</li>
						<li class="content">
				Ева Никогосян				</li>
						<li class="content">
				Алла Карени				</li>
						<li class="content">
				Амрам Пайтян 				</li>
						<li class="content">
				Лала Парсаданова 				</li>
						<li class="content">
				Анна Рудь				</li>
						<li class="content">
				Асмик Самсонян 				</li>
						<li class="content">
				Тимофей Фролов 				</li>
						<li class="content">
				Лина Хачатурян 				</li>
						<li class="content">
				Елизавета Чибис				</li>
						<li class="content">
				Тигран Мовсесян				</li>
						<li class="content">
				Елена Юдина 				</li>
						<li class="content">
				Ани Инанц				</li>
						<li class="content">
				Полина Пругер				</li>
						<li class="content">
				Рузан Мурадян				</li>
						<li class="content">
				Кирилл Чувальский				</li>
						<li class="content">
				Лилит Петросян				</li>
				</ul>
	<p>В остальных ролях:</p>
	<ul>
			<li class="content">
				Все гости  Лсарана
			</li>
	</ul>
	<p>Фильм сделан не по заказу, а по зову сердца</p>
</div>
<div class="shadow">
	<h1>Наша команда</h1>
	<a class="full_inform" href="/page/team">
		Подробнее
	</a>
	
</div>

</section>
<script src="../js/team_list.js"></script>
</body>
</html>