<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="../css/teenagers_program.css">
</head>
<body>
<section id="teenagers_programs">
		<h1>
			Подростковая программа
		</h1>
		<br>

		<p class="descr_h">
			В подростковой программе:
		</p>

			<ul class="descr">
				<li>
					<b>Философские дебаты</b>
					<p>
						“Kafka and his kind” - это философский клуб для подростков, который был создан в 2017 году историком Диной Курковой и адвокатом, кандидатом философских наук Максимом Крупским. Он рассчитан на подростков 11-15 лет. Проект был задуман как пространство для тех, кто ищет собственные ответы на вопросы о том, как устроено общество и какое место в нем занимает человек.	
					</p>
					<br>
				</li>

				<li>
					<b>Мастер класс по прическам/плетению кос</b>
					<p>
						Арина Бабаджанян, парикмахер стилист <br>	
						В профессии уже 10 лет, начинала учиться в Ставрополе в частной школе под руководством итальянского мастера. Дальше работала и повышала свои умения в одной из лучших школ в Москве «Долорес», проходила курсы японского массажа в академии Lebel, а также множество семинаров по окрашиванияю, стрижкам, укладкам у ведущих мастеров.
					</p>
					<br>					
				</li>

				<li>
					<b>Актерский тренинг для детей от 8 до 14 лет. </b>
					<p>
						Работа над вниманием и воображением. <br>
						Анастасия Торосян<br>
						Менеджер сценических искусств, актриса. Окончила Российский университет театрального искусства ГИТИС. Работает в Армянском театре "Гавит" под руководством Гамлета Галечяна. <br>
						Организатор детских праздников. 
					</p>
					<br>					
				</li>

				<li>
					<b>Мастер-класс по джазовому вокалу</b>
					<p>
						София Ацбеха Негга
					</p>
					<br>					
				</li>  

				<li>
					<b>Резидент проекта JAZZPORT</b>
					<p>
						Финалистка проекта Синяя Птица <br>
						Студентка эстрадно джазового училища при академии им.Гнесиных <br>
						Финалистка Riga Jazz Stage(Латвия)<br>
						Участница таких фестивалей  как УсадьбаJazz, Koktebel Jazz Party и др.<br>
						1 место конкурса GnesinJazz<br>
					</p>
					<br>					
				</li>  
			</ul>

		<h2>Ведущие <span class="subH">| подростковая программа</span></h2>
		<ul>

								
				<li class="content">
					<div class="party_img">
					<img src="../image/teenagers_programs/Анастасиян_Торосян.jpg" alt="">
					<span class="name"><span><span class="name_">Анастасия</span></span>
										<span><span class="name_">Торосян</span></span>
					</span>							
					</div>
				</li>
								
				<li class="content">
					<div class="party_img">
					<img src="../image/teenagers_programs/Арина_стилист.jpg" alt="">
					<span class="name"><span><span class="name_">Арина </span></span>
										<span><span class="name_">Бабаджанян</span></span>
					</span>							
					</div>
				</li>
								
				<li class="content">
					<div class="party_img">
					<img src="../image/teenagers_programs/Кафка_создатель.jpg" alt="">
					<span class="name"><span><span class="name_">“Kafka and his kind” </span></span>
										<span><span class="name_"></span></span>
					</span>							
					</div>
				</li>
								
				<li class="content">
					<div class="party_img">
					<img src="../image/teenagers_programs/София_Ацбеха_Негга.jpg" alt="">
					<span class="name"><span><span class="name_">София </span></span>
										<span><span class="name_">Ацбеха Негга</span></span>
					</span>							
					</div>
				</li>
					</ul>

	

	</section>
</body>
</html>