body {
	background-color: 
	}

.blog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -30px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

}

.blog-list__item {
	width: calc(50% - 60px);
	margin: 0 30px 60px;
}

.blog-list__img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 58px;
	position: relative;
	overflow: hidden;

}
.blog-list__img:hover .blog-list__title{
	color: #f39c12;
}
.blog-list__img img {
	width: 100%;
	display: block;
	height:  300px;
}
.blog-list__link {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 2;
}


.blog-list__header {
	position: absolute;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.blog-list__title {
	background: #FFF;
	padding: 25px 20px 10px;
}
.blog-list__icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 44px;
	height: 44px;
	background-color: #f39c12;
	font-size: 18px;
	color: #fff;
}

.blog-list__footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 20px;
}
.blog-list__date {
	text-align: right;
	color: #808080;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;

}
.blog-list__date span{
	display: block;
	white-space: nowrap;
}

.blog-list__info {
	padding: 0 17px 0 40px;
}
.blog-list__info p {
	padding-bottom: 28px;
	line-height: 28px;
	color: #737373;
	font-size: 16px;
}
.blog-list__info .btn {
	height: 35px;
	font-size: 14px;
	padding: 8px 27px 0;
}

.wrapper {
	max-width: 1250px;
	width: 100%;
	padding: 0 40px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	height: 42px;
	padding: 11px 35px 0;
	border: 2px solid #ffffff;
	background-color: transparent;
	color: #fff;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.btn--warning {
	color: #0d0d0d;
	border-color: #f39c12;
}

.btn:hover {
	background-color: #f39c12;
	color: #fff;
	text-decoration: none;
	border-color: #f39c12;
}

.btn--sm {
	height: 38px;
	padding-top: 9px;
}

input.btn, button.btn {
	padding-top: 0 !important;
}

.section {
	padding: 250px 0 50px;
}

h6 {
	color: #0d0d0d;
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}

p {
	line-height: 28px;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem; }
  .nav-link:hover, .nav-link:focus {
    text-decoration: none; }
  .nav-link.disabled {
    color: black; }