@media(max-width: 1700px) {
    .header{
        padding-left: 0;
        padding-right: 0;
    }
    .main_block{
        padding-left: 0;
        padding-right: 0;
    }
    .howwork{
        padding-left: 0;
        padding-right: 0;
    }
    .whatcanbe{
        padding-left: 0;
        padding-right: 0;
    }
    .footer{
        padding-left: 0;
        padding-right: 0;
    }
    .header-shop{
        padding-left: 0;
        padding-right: 0;
    }
    .main-banner{
        margin-left: 0;
        margin-right: 0;
    }
    .main__shop-space{
        margin-left: 0;
        margin-right: 0;
    }
    .header-shop-autorized{
        margin-left: 0;
        margin-right: 0;
    }
    .modal{
        .modal__container{
            .modal__inside{
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .modal-two{
        .modal-two__container{
            .container__inside{
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

@media(min-width: 769px) {
    .header-mobile, .footer-mobile {
        display: none;
    }
    .about_us_body{
        .about_us_body-item{
            .item-bloger{
                .mobile-youtube-link{
                    display: none;
                }
            }
        }
    }
    .main__shop-space{
        .main__shop-space-goods{
            .main__shop-space-goods-down{
                .main_space-properties-mobile{
                    display: none;
                }
                .transactions-items{
                    .transactions-item{
                        .transactions-item-details-mobile{
                            display: none;
                        }
                    }
                }
            }
        }
        
    }
    .modal-two{
        .modal-two__container{
            .container__inside{
                .modal-two-mobile{
                    display: none;
                }
            }
        }
    }
    .mobile-filters{
        display: none;
    }
}

@media(max-width: 768px) {
    .header-shop{
        display: none;
    }
    .main-banner{
        display: none;
    }
    .tutorlai_block-title{
        display: none;
    }
    .footer{
        display: none;
    }
    .header-shop-autorized{
        display: none;
    }

    .modal{
        .modal__container{
            width: 95%;
            height: 85vh;
            top: 44%;
            background-color: #13152C;
            padding: 15px;
            .modal__inside{
                .cart-goods{
                    width: 100%;
                    .cart-goods-item{
                        display: none;
                        .cart-goods-item-price{
                            display: none;
                        }
                        .cart-goods-item-properties{
                            text-align: left;
                            .cart-goods-mobile-price{
                                margin-top: 6px;
                                color: #fff;
                                span{
                                    color: #fff;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                    .cart-goods-item-mobile{
                        padding: 17px 19px 19px 20px;
                        background-color: #333656;
                        margin-top: 17px;
                        border-radius: 5px;
                            .cart-goods-up{
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                .cart-goods-item-properties{
                                    text-align: left;
                                    margin-left: 21px;
                                    .cart-goods-item-properties-name{
                                        color: #9093B7;
                                        font-size: 12px;
                                    }
                                    .cart-goods-mobile-price{
                                        margin-top: 6px;
                                        color: #fff;
                                        span{
                                            color: #fff;
                                            font-weight: bold;
                                            margin-right: 10px;
                                        }
                                    }
                                }
                                .card-goods-delete{
                                    margin-left: 15px;
                                }
                            }
                            .item-mobile-status{
                                .status-waiting{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding-top: 8px;
                                    padding-bottom: 9px;
                                    color: #FFFFFF;
                                    font-size: 12px;
                                    line-height: 14px;
                                    background: rgba(233, 173, 56, 0.2);
                                    border: 1.0625px solid #FF8818;
                                    box-sizing: border-box;
                                    border-radius: 3.1875px;
                                    .status-text{
                                        margin-left: 9px;
                                    }
                                }
                                .status-checked{
                                    background: rgba(117, 209, 137, 0.2);
                                    border: 1.0625px solid #75D189;
                                    box-sizing: border-box;
                                    border-radius: 3.1875px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding-top: 8px;
                                    padding-bottom: 9px;
                                    color: #FFFFFF;
                                    font-size: 12px;
                                    line-height: 14px;
                                    .status-text{
                                        margin-left: 9px;
                                    }
                                }
                                .status-done{
                                    background: #75D189;
                                    border-radius: 3.1875px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding-top: 8px;
                                    padding-bottom: 9px;
                                    color: #FFFFFF;
                                    font-size: 12px;
                                    line-height: 14px;
                                }
                            }
                    }
                }
                .cart-price{
                    display: none;
                }
            }
        }
    }

    .modal-two{
            .modal-two__container{
                width: 95%;
                height: 79vh;
                top: 41%;
                padding: 0;
                .container__inside{
                    width: 100%;
                    padding: 50px 15px 40px 15px;
                    .picsanddescription{
                        padding: 0px;
                        .big-pic{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            padding: 45px 0px 45px 0px;
                            img{
                                width: 80%;
                            }
                        }
                        .stickersandshare{
                            display: none;
                        }
                        .stickers-container{
                            display: none;
                        }
                    }
                    .right-side{
                        display: none;
                    }
                    .modal-two-mobile{
                        width: 100%;
                        .modal-two-mobile-price{
                            background-color: #2AA5A0;
                            background: linear-gradient(90deg, #FF8818 0%, #FC4492 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 24px;
                            line-height: 29px;
                            display: flex;
                            margin-top: 17px;
                            font-weight: bold;
                        }
                        .modal-two-mobile-link-steam{
                            margin-top: 26px;
                            display: flex;
                            flex-direction: column;
                            .link-steam-title{
                                display: flex;
                                font-size: 12px;
                                line-height: 14px;
                                color: #9093B7;
                            }
                            .link-steam{
                                color: #fff;
                                margin-top: 7px;
                                font-size: 12px;
                                line-height: 14px;
                                display: flex;
                            }
                        }
                        .modal-two-mobile-tradeurl{
                            margin-top: 32px;
                            display: flex;
                            align-items: center;
                            .trade-url-text{
                                font-size: 12px;
                                line-height: 14px;
                                color: #9093B7;
                            }
                            .trade-url-link{
                                color: #fff;
                                font-size: 12px;
                                line-height: 14px;
                                text-decoration: underline;

                            }
                        }
                        .put_here{
                            margin-top: 13px;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            padding-left: 23px;
                            background: #333656;
                            border-radius: 5px;
                            width: 100%;
                            margin-bottom: 35px;
                        }
                        .buy_button_mobile{
                            background: linear-gradient(90deg, #FF8818 0%, #FC4492 100%);
                            border-radius: 5px;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            padding-left: 37%;
                            padding-right: 37%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                        }
                    }
                }
            }
        }
    .mobile-filters{
        margin-top: 110px;
        .mobile-cart-status{
            display: flex;
            align-items: center;
            margin-top: 25px;
            padding: 12px 50px;
            border: 1px solid #333656;
            box-sizing: border-box;
            border-radius: 5px;
            width: 72%;
            margin-left: 14%;
            margin-right: 14%;
            justify-content: center;
            .cart-status-value{
                font-size: 12px;
                line-height: 14px;
                color: #9093B7;
                margin-left: 25px;
                color: #9093B7;
            }
        }
        .mobile-cart-status-full{
            display: flex;
            align-items: center;
            margin-top: 25px;
            padding: 12px 15px;
            border: 1px solid #333656;
            box-sizing: border-box;
            border-radius: 5px;
            width: 72%;
            background: linear-gradient(90deg, #FF8818 0%, #FC4492 100%);
            margin-left: 14%;
            margin-right: 14%;
            justify-content: center;
            justify-content: space-around;
            .cart-status-value{
                font-size: 12px;
                line-height: 14px;
                color: #9093B7;
                margin-left: 5px;
                color: #fff;
            }
            .cart-status-price{
                color: #fff;
                font-size: 12px;
            }
        }
    }
    .main_space{
        .main__shop-space{
            flex-direction: column;
            .filters-mobile{
                display: block;
                width: 100%;
                padding-right: 1%;
                padding-left: 1%;
                height: 70vh;
                border:none;
                .checkboxes__group{
                    border:none;
                    margin-bottom: 5px;
                }
                .drop-button{
                    display: flex;
                    justify-content: center;
                }
                .buy-button{
                    margin-top: 30px;
                }
            }
            .main__shop-space-goods{
                .main__shop-space-goods-down{
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    .card-item{
                        width: 37.5%;
                    }
                }
            }
        }
        .select{
            display: none;
        }
    }
    .header-mobile-auth{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 2%;
        padding-right: 3%;
        background-color: #3E4162;
        padding-top: 20px;
        padding-bottom: 20px;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 2;
        .header-mobile-auth-logo{
            margin-left: 16%;
        }
        .balance-and-avatar{
            display: flex;
            .balance-mobile{
                padding-right: 50px;
                .balance-mobile-value{
                    color: #fff;
                }
                .balance-mobile-wait{
                    color: #15E42A;
                }
            }
        }
        .nav {
            -webkit-transition: left 0.5s ease;
            -moz-transition: left 0.5s ease;
            -ms-transition: left 0.5s ease;
            -o-transition: left 0.5s ease;
            transition: left 0.5s ease;
            background:#161831;
            color: white;
            cursor: pointer;
            height: 100vh;
            left: -20rem;
            padding: 6rem 2rem 2rem 2rem;
            position: fixed;
            top: 0;
            z-index: 1;
            .nav-title{
                font-size: 23px;
                padding-bottom: 30px;
                border-bottom: 1px solid #333656;
            }
            .mobile-menu-list{
                margin-top: 20px;
                padding-bottom: 35px;
                border-bottom: 1px solid #333656;
                .mobile-menu-list-item{
                    display: flex;
                    align-items: center;
                    .mobile-menu-list-item-text{
                        font-size: 14px;
                        margin-left: 20px;
                        color: #fff;
                    }
                }
            }
            .mobile-menu-selects{
                display: flex;
                justify-content: space-between;
                margin-top: 15px;
                padding-bottom: 20px;
                border-bottom: 1px solid #333656;
                .language-select, .select-money{
                    background: #333656;
                    border-radius: 5px;
                    color: #9093B7;
                    padding: 10px 15px;
                }
            }
            .mobile-menu-social{
                margin-top: 20px;
                a{
                    margin-right: 25px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            .menu-mobile-phone{
                margin-top: 25px;
                .menu-mobile-phone-text{
                    font-size: 14px;
                    margin-bottom: 25px;
                    color: #fff;
                }
                .menu-mobile-phone-body{
                    display: flex;
                    align-items: center;
                    .menu-mobile-phone-item{
                        margin-right: 15px;
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                    .phone-number{
                        font-size: 14px;
                        color: #fff;
                    }
                }
            }
        }
        .nav.expanded {
            left: 0;
            width: 80%;
        }
        .nav-toggle {
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            cursor: pointer;
            height: 2rem;
            position: fixed;
            width: 3.6rem;
            z-index: 2;
            &:hover {
                opacity: 0.8;
            }
            .nav-toggle-bar {
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                background: #9093B7;;
                content: '';
                height: 0.4rem;
                width: 65%;
                margin-top: 0;
                &::after {
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -ms-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    background: #9093B7;;
                    content: '';
                    height: 0.4rem;
                    width: 65%;
                    margin-top: 0.8rem;
                }
                &::before {
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -ms-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    background: #9093B7;;
                    content: '';
                    height: 0.4rem;
                    width: 65%;
                    margin-top: -0.8rem;
                }
            }
        }
        .nav-toggle.expanded {
            .nav-toggle-bar {
                background: transparent;
                &::after {
                    background: #9093B7;;
                    margin-top: 0;
                    -ms-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &::before {
                    background: #9093B7;;
                    margin-top: 0;
                    -ms-transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
            }
        }
        
    }

    .main__shop-space{
        border: none;
        padding: 15px;
        .main__shop-space-filters{
            display: none;
        }
        .main__shop-space-goods{
            width: 100%;
            padding-left: 0;
            .main__shop-space-goods-up{
                display: none;
            }
            .main__shop-space-goods-down{
                height: auto;
                overflow: auto;
                .search-group{
                    .has-search {
                        width: 100%;
                    }
                    .form-group-filters{
                        display: none;
                    }
                }
                .transactions-items{
                    .transactions-item{
                        padding: 22px 5px 22px 5px;
                        flex-direction: column;
                        .transactions-item-left{
                            width: 90%;
                            .transactions-item-details{
                                display: none;
                            }
                        }
                        .transactions-item-details-mobile{
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;
                            margin-top: 15px;
                            margin-bottom: 15px;
                            .mobile-arrow{
                                display: none;
                            }
                            .icon-space{
                                padding: 7px;
                                background: #22243E;
                                border-radius: 5px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-left: 15px;
                            }
                        }
                        .transactions-item-right{
                            width: 90%;
                            margin-top: 15px;
                        }
                    }
                }
                .card-item{
                    width: 16.5%;
                }
                .main_space-properties{
                    display: none;
                }
                .main_space-properties-mobile{
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                    margin-top: 30px;
                    .main_space-properties-item{
                        color: #9093B7;
                    }
                }
            }
        }
        .main-space-card-down{
            .profile-card{
                border: none;
                width: 100%;
                padding: 0 0 20px 0;
                border-bottom: 1px solid #333656;
                .profile-card-up{
                    .profile-card-up-title{
                        display: none;
                    }
                }
                .card-middle{
                    border: none;
                    padding-bottom: 5px;
                    flex-direction: column;
                    img, .card-middle-nickname{
                        display: none;
                    }
                    input{
                        width: 100%;
                    }
                    .card-middle-button{
                        width: 100%;
                        margin-top: 20px;
                    }
                }
            }
            .contact-information{
                border: none;
                width: 100%;
                padding: 0;
                .contact-information-title{
                    display: none;
                }
                .contact-information-item{
                    .contact-information-buttons{
                        .person-delete{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .main_space{
        .main__shop-space{
            .select{
                display: none;
            }
        }
    }


    .tutorial_block{
        margin-top: 0;
        padding-left: 3%;
        padding-right: 3%;
        margin-left: 0;
        margin-right: 0;
        border: none;
        .calc-body{
            .cale-body-title{
                text-align: center;
                margin-top: 70px;
            }
            .calc-body-select{
                flex-direction: column;
                .calc-body-select-device{
                    width: 100%;
                }
                .calc-body-number{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 30px;
                    .calc-body-number-value{
                        width: 30%;
                    }
                }
            }
        }
        .money-calc-block{
            margin-top: 45px;
            .money-table{
                border: none;
                flex-direction: column;
                border-bottom: 1px solid #333656;
                padding: 0px 13px;
                padding-top: 25px;
                .money-table-week, .money-table-month .money-table-day{
                    border: none;
                    border-bottom: 1px solid #333656;
                    padding-top: 25px;
                }
                .money-table-day{
                    border: none;
                    border-bottom: 1px solid #333656;
                    padding: 10px 50px 23px 50px;
                    padding-top: 25px;
                    
                }
            }
            .money-table-descr{
                width: 100%;
                text-align: center;
            }
        }
        .about_us_body{
            .about_us_body-item{
                .item-bloger{
                    .item-bloger-descr{
                        width: 100%;
                        .item-bloger-down{
                            margin-top: 20px;
                        }
                    }
                    .mobile-youtube-link{
                        margin-top: 20px;
                        color: #9093B7;
                    }
                    .item-bloger-video{
                        display: none;
                    }
                }
            }
        }
    }
    .footer-mobile{
        display: flex;
        justify-content: space-around;
        padding-bottom: 25px;
        background: #3E4162;
        padding-top: 15px;
        position: fixed;
        bottom: 0;
        width: 100%;
        .footer-mobile-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 23px;
                height: 23px;
                margin-bottom: 5px;
            }
            .footer-mobile-item-text{
                font-size: 12px;
                color: #74779A;
            }
        }
    }

    .modal{
        .modal__container{
            .modal__inside{
                .cart-goods{
                    .cart-goods-item{
                        .cart-price{
                            display: none;
                            .description-goods{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 425px) {
    .header-mobile-auth{
        .balance-and-avatar{
            .balance-mobile{
                padding-right: 30px;
            }
        }
    }
}

@media(max-width: 375px) {
    .header-mobile-auth{
        .balance-and-avatar{
            .balance-mobile{
                padding-right: 20x;
                padding-top: 10px;
                .balance-mobile-value, .balance-mobile-wait{
                    font-size: 12px;
                }
            }
        }
    }
        .main__shop-space{
            .main__shop-space-goods{
                .main__shop-space-goods-down{
                    .transactions-items{
                        .transactions-item{
                            padding: 22px 8px 22px 8px;
                        }
                    }
                    .card-item{
                        width: 42.5%;
                    }
                }
            }
        }
}

@media(max-width: 320px) {
    .main__shop-space{
        .main__shop-space-goods{
            .main__shop-space-goods-down{
                padding: 26px 0px 80px 0px;
            }
        }
    }
}