body {
	color: #4d4d4d;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
	overflow-x: hidden;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex-column{
	flex-direction: column;
	margin-top: 15px;
}

.br{
	display: block;
}

.wrapper {
	max-width: 1250px;
	width: 100%;
	padding: 0 40px;
	margin: 0 auto;
	/*overflow-x: hidden;*/
}

.sexy-forms label{
  display: block;
  font-weight: bold;
}

.fwtwo {
	font-size: 20px;
}

.form-control {
  font-size: 16px;
  padding: 5px 10px;
  color: #555;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 4px;
  border: 2px solid #ccc;
  height: auto;
  width: 100px;
  height: 28px;
}

.form-control:focus {
  outline: 0;
  border-color: #66afe9;
  box-shadow: none;
}

.header-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.select-wrapper select.soflow{
  -webkit-appearance: button;
	-moz-appearance: button;
  border-radius: 2px;
  padding: 5px 15px 5px 2px;
	-webkit-user-select: none;
  -moz-user-select: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: #555;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select-wrapper {
    display: inline-block;
    position: relative;
}

.select-wrapper:after {
  content:"\f078";
  font-family:'FontAwesome';
  position: absolute;
  top: 3px;
  font-size: 13px;
  font-weight: light;
  color: #555;
  right: 6px;
	pointer-events: none;
 }

.logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 320px;
    height: 150px;
    background-image: url(../img/logo_black.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.menu {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top:78px;
}
.menu__item {
	margin-left: 90px;
	position: relative;
}
.menu__item:after{
	content: '\\\\';
	display: block;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	color: black;
	position: absolute;
	left: 100%;
	top: 0;
	margin-left: 40px;
}
.menu__item:last-child:after {
	display: none;
}
.menu__link {
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
	color: black;
}
.menu__link:hover {
	color: #0d0d0d;
}

.menu_lk:after {
	content: '';
	display: inline-block;
	background-image: url(../img/door_black.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 16px;
	width: 16px;
	margin-left: 10px;
	transition: filter .3s linear;
	vertical-align: sub;
}

.menu_lk:hover::after{
	filter: invert(100%);
}

.account {
	margin-top: 80px;
	display: flex;
	align-items: center;
	width: 80%;
	margin: 80px auto;
}

.aboutyou {
	display: flex;
	align-items: center;
	position: relative;
	align-self: stretch;
	justify-content: flex-end;
}
.aboutyou.flex-column {
	align-items: flex-end;
	justify-content: center;
}
.aboutyou h2{
	font-size: initial;
}

.aboutyou:after {
	content: '';
	position: absolute;
	width: 4px;
	background:#87CEFA;
	height: 80%;
	top: 10%;
	bottom: 10%;
	right: 20px;
}



.centralblock {
	border: solid 1px;
	border-radius: 20px;
}

.operations {
	margin-top: 80px;
	display: flex;
  	align-items: center;
}



.blocks {
	margin: 10px 10px;
}

.inputbank {
	font-size: 16px;
  padding: 5px 10px;
  color: #555;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 4px;
  border: 2px solid #ccc;
  height: auto;
  width: 60px;
  height: 28px;
}

.inputtext {
	font-size: 16px;
  padding: 5px 10px;
  color: #555;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 4px;
  border: 2px solid #ccc;
  height: auto;
  width: 160px;
  height: 26px;

}

.blockcentral {
	border: solid 1px;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
}

.centralblock--title {
	font-size: 18px;
}

.aboutyou, .balance{
	width: 28%;
	padding: 0 30px;
}

.centralblock{
	width: 44%;
	padding: 10px 20px;
}

.balance p{
	margin: 0 0 20px;
}
.balance span{
	display: block;
}

.contract {
	font-weight: bold;
}

.fw {
	font-weight: 600;
}
.contract .contract--tile {
	font-size: small;
	color: #929292;
}

.plan-info {
	font-size: 0;
	margin: 20px 0;
}

.plan-info .speed-address-price,
.plan-info .daily-price,
.plan-info .status {
	font-size: initial;
	display: inline-block;
}
.plan-info .speed-address-price{
	width: 60%;
}
.plan-info .daily-price,
.plan-info .status {
	width: 20%;
}

.television {
	width: 30%;
}

.daily-price:before {
	background: url(../img/coins.png) no-repeat;
	content: "";
	height: 20px;
	width: 20px;
	display: block;
	background-size: 100%;
}



.button{
	text-decoration: none; 
	text-align: center; 
	padding: 4px 31px; 
	border: solid 1px #004F72; 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px; 
	border-radius: 4px; 
	font: 18px Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	color: #E5FFFF; 
	background: #008000; 
	-webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  		
}

.red {
	color: red;
}

.green {
	color: green;
}

.point {
	margin-top: 23px;
}


header{
	position: relative;
	margin: 10px 0;
}

.pricing-footer {
	padding: 24px 3px 5px;
	border-color: green;
}
.pricing__item.active .pricing-footer {
	background: green;
}
.pricing-footer .btn {
	height: 38px;
	padding: 9px 33px 0;
}

.btn--warning {
	color: #0d0d0d;
	border-color: #f39c12;
}


.btn:hover {
	background-color: green;
	color: #fff;
	text-decoration: none;
	border-color: green;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	height: 42px;
	padding: 11px 35px 0;
	border: 2px solid green;
	background-color: white;
	color: black;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.btn--warningnew {
	color: #0d0d0d;
	border-color: #f39c12;
}


.btnnew:hover {
	background-color: #ff0000;
	color: white;
	text-decoration: none;
	border-color: #ff0000;
}

.btnnew {
	display: inline-block;
	vertical-align: middle;
	height: 42px;
	padding: 11px 35px 0;
	border: 2px solid #ff0000;
	background-color: white;
	color: black;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.bold {
	font-weight: bold;
}

.textposition {
	text-align: center;
}

.footer {
	padding-bottom: 20px;
}


@media screen and (min-width: 1023px) {
	.aboutyou{
		width: 25%;
	}
	.centralblock{
		width: 63%;
	}
}


@media (max-width: 320px) {
	#unlock {
		margin-left: -8%;
	}
}

@media screen and (max-width: 1025px) {
	.plan-info .speed-address-price,
	.plan-info .daily-price,
	.plan-info .status{
		width: 100%;
		display: block;
		margin: 5px 0;
	}

	.daily-price:before{
		display: none;
	}

	.flex{
		flex-direction: column;
	}	
	.desktop-only{
		display: none;
	}

	.flex-column {
		margin-top: 15px;
	}

	.balanceposition {
		padding-top: 1px;
	}
	
	.btncntr {
		text-align: center;
	}
	.aboutyou{
		width: 28%;
	}
	.centralblock{
		width: 50%;
	}
}

@media screen and (max-width: 479px) {
	.account {
		flex-direction: column;
	}

	.aboutyou, .balance, .centralblock{
		width: 100%;
		justify-content: start;
		align-self: unset;
	}

	.aboutyou:after{
		display: none;
	}
	.flex-column {
		margin-left: -17%;
	}
	
	.balance{order: 2;}
	.centralblock{order: 3}

	.balance span{
		display: inline;
	}

	.balance p{
		margin: 10px 0;
	}
	
	.balance .point{
		margin: 20px 0;
	}
}


@media (max-width: 1199px) {

	.logo a {
		height: 100px;
		width: 240px;
		font-size: 34px;
		line-height: 34px;
	}
	.menu__item {
		margin-left: 54px;
	}
	.menu__item:after {
		margin-left: 20px;
	}
}

@media (min-width: 1500px) {
	.centralblock {
		width: 57%;
	}
}

@media (min-width: 1600px) {
	.centralblock {
		width: 53%;
	}
}

@media (min-width: 1900px) {
	.centralblock {
		width: 45%;
	}
}


@media (max-width: 991px) {
	.heading {
		margin-bottom: 80px;
	}
	.menu-toggle {
		display: inline-block;
		border: none;
		background-color: transparent;
		padding: 0;
		width: 37px;
	}
	.navigation {
		position: relative;
	}
	.menu {
		display: none;
		position: absolute;
		top: 100%;
		margin-top: 20px;
		right: 0;
		min-width: 200px;
		padding: 10px 0;
		background: rgba(0,0,0,0.7);
		background-color: #f5f5f5;
	}


	.menu__item {
		margin-left: 0;
		color: black;
	}

	.menu__item:after {display: none;}
	.menu__link {
		display: block;
		padding: 10px 20px;
	}
	.menu__link:hover {
		color: #fff;
	}
	.menu-toggle span {
		display: block;
		height: 3px;
		background: #000;
	}
	.menu-toggle span + span {
		margin-top: 8px;
	}
	.menu-toggle li {
		flex-direction: column;
	}


	}

@media (max-width: 767px) {
		.wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}

	header {
		top: 20px;
	}
	.logo a {
		height: 130px;
		width: 230px;
		font-size: 20px;
		line-height: 20px;
	} 

	.titlecenter {
		margin-left: 45%;
	}
}