@font-face {
  font-family: Fontfabric_Muller;
  src: url("/fonts/Fontfabric_MullerRegular.otf") format("opentype"); }
@font-face {
  font-family: Fontfabric_Muller;
  font-weight: bold;
  src: url("/fonts/Fontfabric_MullerBold.otf") format("opentype"); }
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Fontfabric_Muller; }

.submit {
  text-align: center;
  border: none;
  padding: 20px 40px;
  background-color: #f39c12;
  color: white;
  transition: all 0.5s ease;
  cursor: pointer;
  font-weight: 900; }
  .submit a {
    color: white; }
  .submit:hover {
    background-color: white;
    color: #f39c12; }
  .submit:hover a {
    color: #f39c12; }
  .submit:disabled {
    background-color: #c5ab82; }

.full_inform {
  outline: 2px solid #f39c12;
  display: inline-block;
  padding: 2%;
  color: black;
  font-weight: 900;
  cursor: pointer; }

#teenagers_programs {
  padding: 50px 5%;
  background-color: #F9F7FC; }
  #teenagers_programs h1 {
    font-size: 36px; }
  #teenagers_programs .descr_h {
    font-weight: 500;
    font-size: 20px; }
  #teenagers_programs .descr {
    margin: 10px 0;
    display: inline-block;
    font-size: 15px; }
    #teenagers_programs .descr li {
      margin-right: 40px; }
  #teenagers_programs h2 {
    font-size: 25px;
    margin: 20px 0; }
  #teenagers_programs .subH {
    color: gray; }
  #teenagers_programs ul {
    margin: 0 -10px;
    text-align: left;
    font-size: 0; }
    #teenagers_programs ul .content {
      width: 23%;
      flex-direction: row;
      display: inline-block;
      padding: 1vw 1%;
      font-size: 15px; }
      #teenagers_programs ul .content > a {
        display: inline-block;
        text-decoration: none;
        vertical-align: top;
        color: black;
        width: 100%; }
    #teenagers_programs ul .party_img {
      position: relative;
      display: inline-block;
      width: 100%; }
      #teenagers_programs ul .party_img img {
        width: 100%;
        transition: all 0.2s ease; }
    #teenagers_programs ul .name {
      position: absolute;
      left: 0;
      bottom: 0;
      text-align: left;
      display: inline-block;
      transition: all 0.5s ease; }
      #teenagers_programs ul .name span {
        display: block; }
      #teenagers_programs ul .name .name_ {
        font-size: 20px;
        font-weight: 900;
        padding: 10px;
        display: inline-block;
        background-color: white; }
    #teenagers_programs ul .descr, #teenagers_programs ul .title {
      display: inline-block;
      margin: 10px; }
    #teenagers_programs ul .descr {
      font-weight: 600; }
    #teenagers_programs ul .title {
      color: gray; }
  #teenagers_programs .content:hover .name {
    color: #FFA903; }
  #teenagers_programs .content:hover .party_img img {
    box-shadow: 5px 5px 5px 4px grey; }

@media all and (max-width: 768px) {
  #teenagers_programs ul .content {
    width: 48%;
    padding: 0 1%; } }
@media all and (max-width: 450px) {
  #teenagers_programs ul .content {
    width: 100%;
    padding: 0; } }

/*# sourceMappingURL=teenagers_program.css.map */
