@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.tours_body{
    display: flex;
    align-items: center;
    flex-direction: column;
    .tours_item{
        margin-top: 65px;
        display: flex;
        border: 0.5px solid #8E8E8E;
        box-sizing: border-box;
        border-radius: 15px;
        max-width: 1106px;
        max-height: 370px;
        font-family: 'Open Sans';
        .tours-item-img_container{
            position: relative;
            .tours-new{
                position: absolute;
                top: 46px;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                padding: 12px 34px 14px 35px;
                background: #099CE8;
            }
            .tours-year{
                position: absolute;
                top: 46px;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                padding: 12px 34px 14px 35px;
                background: #FFD83B;
            }
        }
        .tours_item-text{
            margin-left: 23px;
            margin-top: 16px;
            .tours_item-title{
                font-size: 26px;
                line-height: 34px;
            }
            .tours_item-time{
                font-size: 14px;
                line-height: 20px;
                color: #9E9E9E;
                margin-top: 11px;
                position: relative;
                margin-left: 27px;
                &::before{
                    position: absolute;
                    content: '';
                    background: url(img/time.png);
                    display: block;
                    width: 16px;
                    height: 16px;
                    left: -28px;
                    top: 1px;
                }
            }
            .tours_item-row{
                font-size: 18px;
                line-height: 20px;
                margin-top: 11px;
                position: relative;
                margin-left: 27px;
                &::before{
                    position: absolute;
                    content: '';
                    background: url(img/check.png);
                    display: block;
                    width: 16px;
                    height: 12px;
                    left: -28px;
                    top: 3px;
                }
            }
            .nearcruise{
                display: flex;
                margin-top: 11px;
                margin-left: 27px;
                position: relative;
                display: flex;
                align-items: center;
                &::before{
                    position: absolute;
                    content: '';
                    background: url(img/check.png);
                    display: block;
                    width: 16px;
                    height: 12px;
                    left: -28px;
                    top: 11px;
                }
                .nearcruise-text{
                    font-size: 18px;
                    line-height: 20px;
                }
                .nearcruise-datas{
                    display: flex;
                    margin-left: 6px;
                    .nearcruise-datas-item{
                        font-size: 16px;
                        margin-left: 6px;
                        line-height: 20px;
                        padding: 4px 14px 7px 14px;
                        background: #C5DCFF;
                        border-radius: 11px;
                        text-decoration: none;
                        transition: 0.3s;
                        color: #000;
                        &:hover{
                            background: #6BA6FF;
                            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                            cursor: pointer;
                        }
                    }
                }
            }
            .tours_item-footer{
                display: flex;
                align-items: center;
                margin-top: 27px;
                .tours_item_price{
                    font-size: 36px;
                    line-height: 20px;
                    display: flex;
                    flex-direction: column;
                    margin-top: 8px;
                    span{
                        font-size: 14px;
                        line-height: 20px;
                        margin-top: 8px;
                    }
                }
                .tours__button{
                    margin-left: 12px;
                    padding: 16px 29px 15px 29px;
                    font-size: 18px;
                    line-height: 20px;
                    background: #FFD83C;
                    border-radius: 23px;
                    text-decoration: none;
                    color: #000;
                    transition: 0.3s;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .tours_body{
        .tours_item{
            .tours-item-img_container{
                .tours-new{
                    font-size: 14px;
                }
                .tours-year{
                    font-size: 14px;
                }
            }
            .tours_item-text{
                .tours_item-title{
                    font-size: 22px;
                }
                .tours_item-row{
                    font-size: 14px;
                }
                .nearcruise{
                    .nearcruise-text{
                        font-size: 14px;
                        line-height: 20px;
                    }
                    .nearcruise-datas{
                        display: flex;
                        margin-left: 6px;
                        .nearcruise-datas-item{
                            font-size: 14px;
                        }
                    }
                }
                .tours_item-footer{
                    .tours__button{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .tours_body{
        margin-left: 19px;
        margin-right: 19px;
        .tours_item{
            display: flex;
            flex-direction: column;
            max-height: 100%;
            max-width: 100%;
            padding-bottom: 19px;
            .tours-item-img_container{
                .tours-new{
                    font-size: 14px;
                }
                .tours-year{
                    font-size: 14px;
                }
                img{
                    width: 100%;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
            }
            .tours_item-text{
                display: flex;
                flex-direction: column;
                .tours_item-time{
                    order: 0;
                }
                .tours_item-title{
                    font-size: 22px;
                    padding-right: 12px;
                    order: 1;
                }
                .tours_item-row{
                    font-size: 14px;
                    order: 2;
                }
                .nearcruise{
                    align-items: start;
                    flex-direction: column;
                    order: 3;
                    .nearcruise-text{
                        font-size: 14px;
                        line-height: 20px;
                    }
                    .nearcruise-datas{
                        display: flex;
                        margin-left: 0px;
                        margin-top: 14px;
                        .nearcruise-datas-item{
                            font-size: 14px;
                            &:first-child{
                                margin-left: 0;
                            }
                        }
                    }
                }
                .tours_item-footer{
                    order: 4;
                    .tours__button{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .tours_body{
        .tours_item{
            .tours_item-text{
                .tours_item-time{
                    margin-top: 0;
                }
                .tours_item-title{
                    font-size: 22px;
                }
                .tours_item-row{
                    font-size: 14px;
                }
                .nearcruise{
                    order: 3;
                    .nearcruise-text{
                        font-size: 14px;
                    }
                    .nearcruise-datas{flex-wrap: wrap;
                        .nearcruise-datas-item{
                            margin-left: 0;
                            margin-right: 7px;
                            margin-top: 7px;
                            font-size: 14px;
                        }
                    }
                }
                .tours_item-footer{
                    justify-content: space-between;
                    .tours_item_price{
                        font-size: 30px;
                        span{
                            font-size: 10px;
                        }
                    }
                    .tours__button{
                        font-size: 15px;
                        margin-right: 12%;
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .tours_body{
        .tours_item{
            .tours_item-text{
                .tours_item-time{
                    margin-top: 0;
                }
                .tours_item-title{
                    font-size: 22px;
                }
                .tours_item-row{
                    font-size: 14px;
                }
                .nearcruise{
                    order: 3;
                    .nearcruise-text{
                        font-size: 14px;
                    }
                    .nearcruise-datas{flex-wrap: wrap;
                        .nearcruise-datas-item{
                            margin-left: 0;
                            margin-right: 7px;
                            margin-top: 7px;
                            font-size: 14px;
                        }
                    }
                }
                .tours_item-footer{
                    justify-content: space-between;
                    .tours__button{
                        font-size: 15px;
                        margin-right: 12%;
                    }
                }
            }
        }
    }
}