@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  background: #808080; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #808080, #808080);
  background: -moz-linear-gradient(right, #808080, #808080);
  background: -o-linear-gradient(right, #808080, #808080);
  background: linear-gradient(to left, #808080, #808080);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.form {
  background: #FFFFFF;
  width: 360px;
  margin: 8% auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/*======= LOGO =======*/
.form img{
  width: 50%;
  display: inline-block;
  margin: 0 0 30px;
  font-size: 14px;

}

.form input,
.form button{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  outline: 0;
  width: 100%;
  padding: 15px;
}

.form input {
  background: #f2f2f2;
  border: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
}

.form button {
  text-transform: uppercase;
  background: #87CEFA;
  border: 1px solid;
  color: #FFFFFF;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

.form button:hover {
  background-color: white;
  color: #808080;
  border-color: #87CEFA;
}

@media (max-width: 1024px){
  .form{
    width: 85%;
    padding: 20px;
  }
}