@font-face {
  font-family: Fontfabric_Muller;
  src: url("/fonts/Fontfabric_MullerRegular.otf") format("opentype"); }
@font-face {
  font-family: Fontfabric_Muller;
  font-weight: bold;
  src: url("/fonts/Fontfabric_MullerBold.otf") format("opentype"); }
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Fontfabric_Muller; }

.submit {
  text-align: center;
  border: none;
  padding: 20px 40px;
  background-color: #f39c12;
  color: white;
  transition: all 0.5s ease;
  cursor: pointer;
  font-weight: 900; }
  .submit a {
    color: white; }
  .submit:hover {
    background-color: white;
    color: #f39c12; }
  .submit:hover a {
    color: #f39c12; }
  .submit:disabled {
    background-color: #c5ab82; }

.full_inform {
  outline: 2px solid #f39c12;
  display: inline-block;
  padding: 2%;
  color: black;
  font-weight: 900;
  cursor: pointer; }

section {
  height: 80vh;
  font-size: 0;
  color: white; }
  section > * {
    vertical-align: top;
    display: inline-block;
    height: inherit;
    font-size: 15px; }
  section h1 {
    margin: 5vw;
    font-size: 36px; }
  section .map_inform {
    width: 70%;
    background-image: url(../image/mapBG.png);
    background-size: cover; }
    section .map_inform .transfer {
      margin-left: 5vw; }
      section .map_inform .transfer p {
        margin: 5px 0;
        display: inline-block;
        font-size: 18px; }
  section .contacts_inform {
    width: 20%;
    padding: 0 7% 0 3%;
    background-color: #202A42; }
    section .contacts_inform h2 {
      margin-top: 50px;
      font-size: 25px; }
    section .contacts_inform p {
      margin: 20px 0;
      font-size: 22px; }
    section .contacts_inform .descr {
      padding-bottom: 50px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    section .contacts_inform .submit {
      text-align: center;
      width: 10vw; }
  section .social {
    margin-top: 10px; }
    section .social a {
      display: inline-block;
      width: 45px;
      height: 45px;
      transition: all 0.5s ease; }
      section .social a img {
        display: inline-block;
        width: 45px;
        height: 45px; }
      section .social a:hover {
        box-shadow: 0 0 1px 4px white; }

@media all and (max-width: 1034px) {
  section .contacts_inform {
    width: 40%;
    padding: 0 5%; }
  section .map_inform {
    width: 50%; } }
@media all and (max-width: 680px) {
  section {
    height: auto; }
    section h1 {
      text-align: center; }
    section .map_inform {
      width: 100%; }
      section .map_inform .transfer {
        margin: 0; }
    section .contacts_inform {
      width: 90%;
      padding: 0 5%; }
      section .contacts_inform .submit {
        width: 90%;
        margin: 20px 0;
        padding: 20px 5%; } }
#map_container {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0; }
  #map_container .close {
    color: black;
    position: absolute;
    display: inline-block;
    font-size: 18px;
    padding: 10px 14px;
    background-color: white;
    right: 60px;
    top: 10px;
    z-index: 101;
    cursor: pointer;
    font-weight: 900; }

#map {
  width: 100%;
  height: 100%;
  z-index: 100; }

/*# sourceMappingURL=contacts.css.map */
