@font-face {
  font-family: Fontfabric_Muller;
  src: url("/fonts/Fontfabric_MullerRegular.otf") format("opentype"); }
@font-face {
  font-family: Fontfabric_Muller;
  font-weight: bold;
  src: url("/fonts/Fontfabric_MullerBold.otf") format("opentype"); }
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Fontfabric_Muller; }

.submit {
  text-align: center;
  border: none;
  padding: 20px 40px;
  background-color: #f39c12;
  color: white;
  transition: all 0.5s ease;
  cursor: pointer;
  font-weight: 900; }
  .submit a {
    color: white; }
  .submit:hover {
    background-color: white;
    color: #f39c12; }
  .submit:hover a {
    color: #f39c12; }
  .submit:disabled {
    background-color: #c5ab82; }

.full_inform {
  outline: 2px solid #f39c12;
  display: inline-block;
  padding: 2%;
  color: black;
  font-weight: 900;
  cursor: pointer; }

#search_room .value {
  font-size: 0; }
  #search_room .value input {
    display: none; }
    #search_room .value input:checked + label {
      outline: 1px solid #efb944; }
    #search_room .value input:disabled + label {
      opacity: 0.5; }
  #search_room .value label {
    font-size: 15px;
    width: 48%;
    margin: 10px 1%;
    padding: 10px 0;
    text-align: center;
    display: inline-block;
    outline: 1px solid gray;
    cursor: pointer;
    transition: all 0.5s ease; }
#search_room .trigger {
  display: inline-block;
  width: 32%;
  margin-right: 1%;
  vertical-align: bottom; }
  #search_room .trigger p {
    font-weight: 900; }
  #search_room .trigger .value {
    margin: 0 -1%; }
  #search_room .trigger.volunteer {
    display: block;
    width: 100%; }
    #search_room .trigger.volunteer .value > span {
      font-size: 15px;
      font-weight: 900;
      margin: 0 1%; }
    #search_room .trigger.volunteer label {
      display: block;
      width: 48%; }

section {
  padding: 50px 5%; }
  section h1 {
    font-size: 36px; }
  section hr {
    border: none;
    border-bottom: 3px solid #FFA903;
    width: 50px;
    margin: 25px 0; }
  section .submit {
    display: block; }

#rooms {
  padding: 50px 5%;
  background-color: #F9F7FC;
  font-size: 0; }
  #rooms > * {
    font-size: 15px; }
  #rooms h2 {
    font-size: 25px; }
  #rooms hr {
    border: none;
    border-bottom: 3px solid #FFA903;
    width: 50px;
    margin: 25px 0; }
  #rooms .room {
    width: 21%;
    display: inline-block;
    background-color: white;
    padding: 1vw 1%;
    margin: 1vw 1%;
    box-shadow: 5px 5px 24px -5px black; }
  #rooms .chose_room_input {
    display: none; }
  #rooms .bed_icon {
    color: white;
    display: inline-block;
    font-size: 30px;
    padding: 15px;
    margin: 15px 5px;
    border-radius: 50%;
    background-color: #FFA903; }
  #rooms .room_name {
    display: block;
    font-weight: 900; }
  #rooms .guests_cnt {
    padding: 10px 0;
    font-size: 0;
    border-bottom: 1px solid #b9b8c5; }
    #rooms .guests_cnt span {
      display: inline-block;
      font-size: 15px;
      width: 50%; }
  #rooms .price {
    font-weight: 900;
    padding: 10px 0;
    font-size: 20px; }
  #rooms .full_inform {
    transition: all 0.5s ease; }
    #rooms .full_inform:hover {
      background-color: #FFA903;
      color: white; }

@media all and (max-width: 860px) {
  #search_room .trigger {
    width: 100%;
    display: block;
    margin: 0; }

  .submit {
    width: 100%; }

  #rooms .room {
    width: 46%; } }
@media all and (max-width: 600px) {
  #rooms .room {
    width: 90%;
    padding: 5%; }
  #rooms .full_inform {
    width: 90%;
    padding: 5%;
    text-align: center; } }
@media all and (max-width: 300px) {
  #search_room .trigger label {
    width: 98%; } }

/*# sourceMappingURL=registration.css.map */
